// TODO SKILLS

.skills__title, .projects__title {
  margin-bottom: 100px;
}

.skills__icons {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}

.skills__icon{
  display: flex;
  justify-content: center;
  font-size: 124px;
  color: $color-heavy-blue;
}